@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    background-color: plum;      
}
.van {
    width: 220px;
    border-radius: 25px;
    border: 4mm ridge rgba(134, 82, 156, 0.6);
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
    
}
.info p {
color: rgb(55, 57, 59);
font-weight: 500;
font-style: italic;
margin-block-end: 1em;
margin-block-start: 1em;
margin-inline-start: 0px;
/*text-transform: capitalize;*/
/*letter-spacing: 5px;*/
/*word-spacing: 50px;*/

}

.one {
    position: relative;
}
.two {
    position: relative;
    left: 300px; bottom: 240px;
}
.thr {
    position: relative;
    left: 550px; bottom: 350px;
}
.web {
max-width: 800px;
margin: auto;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(128, 112, 218);
    text-decoration: none;
    
}
a:hover {
text-decoration: underline;
}
a:active{
    background-color: rgb(68, 171, 240);
}

.ok {
background-color: pink;
margin-bottom: 15px;
border-radius: 30px;
padding-left: 30px;
padding-top: 1px;
padding-bottom: 10px;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
h2 {
    font-family: 'Roboto', sans-serif;
    
}